<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clienți</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css\style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container">
    <h1>Lista Clienți</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nume</th>
            <th>Email</th>
            <th>Client activ</th>
            <th>Acțiune</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.active ? 'Da' : 'Nu'}"></td>
            <td>
                <form th:action="@{/admin/approve-user}" method="post" style="display:inline;">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <button type="submit" class="btn btn-primary" th:disabled="${user.active}">Aprobă</button>
                </form>
                <form th:action="@{/admin/block-user}" method="post" style="display:inline;">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <button type="submit" class="btn btn-danger" th:disabled="${!user.active}">Blochează</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
