body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
}



/* Additional Styles */
.card-custom {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-custom:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    background-color: #22427c;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.btn-custom:hover {
    background-color: #77b5fe;
    color: #0e2433;
}

.container-custom {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.header-title-custom {
    color: #22427c;
    font-size: 2.5rem;
    font-weight: bold;
}

.header-subtitle-custom {
    color: #77b5fe;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-title-custom {
    color: #22427c;
    font-size: 1.5rem;
}

.card-text-custom {
    color: #77b5fe;
    font-size: 1rem;
}