<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="header">
    <h1>ADMIN Dashboard</h1>
</div>
<div class="container">
    <h2>Welcome, [[${user.getFullname()}]]</h2>

    <span sec:authorize="isAuthenticated">
        <a th:href="@{/logout}">Logout</a>
        </span>

</div>

<h3> Service list</h3>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="service: ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>

        </tbody>
    </table>
</div>

<h3> Utility list</h3>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="utility: ${utilities}">
            <td th:text="${utility.id}"></td>
            <td th:text="${utility.name}"></td>


        </tbody>


    </table>
</div>

</body>
</html>