<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablou de Bord Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="header">
    <h1>Tablou de Bord Admin</h1>
</div>
<div class="container">
    <h2>Bine ai venit, [[${user.getFullName()}]]</h2>

</div>

<h3>Lista de Servicii</h3>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addServiceModal">Adaugă Servicii</button>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Acțiune</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="service: ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>
            <td style="white-space: nowrap">
                <button type="button" class="btn btn-primary"
                        data-toggle="modal"
                        th:data-target="'#editServiceModal' + ${service.id}"
                        th:data-id="${service.id}"
                        th:data-name="${service.name}"
                        onclick="setEditServiceModalData(this)">
                    Editează
                </button>
                <form th:action="@{/delete-service/{id}(id=${service.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Șterge</button>
                </form>
            </td>
        </tbody>
    </table>
</div>
<!-- Controale de Paginare pentru Servicii -->

<nav aria-label="Navigare Pagină">
    <ul class="pagination">
        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link" th:href="@{/admin-page(page=${currentPage - 1}, size=${5})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
            th:classappend="${pageNum == currentPage} ? 'active'">
            <a class="page-link" th:href="@{/admin-page(page=${pageNum}, size=${5})}" th:text="${pageNum + 1}">1</a>
        </li>
        <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{/admin-page(page=${currentPage + 1}, size=${5})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


<h3>Lista de Utilități</h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUtilityModal">Adaugă Utilitate</button>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Acțiune</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="utility: ${utilities}">
            <td th:text="${utility.id}"></td>
            <td th:text="${utility.name}"></td>
            <td style="white-space: nowrap">
                <button type="button" class="btn btn-primary"
                        data-toggle="modal"
                        th:data-target="'#editUtilityModal' + ${utility.id}"
                        th:data-id="${utility.id}"
                        th:data-name="${utility.name}"
                        onclick="setEditUtilityModalData(this)">
                    Editează
                </button>
                <form th:action="@{/delete-utility/{id}(id=${utility.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Șterge</button>
                </form>

            </td>
        </tr>

        </tbody>


    </table>
</div>

<!-- Modalul pentru Servicii -->
<div class="modal fade" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addServiceModalLabel">Adaugă Serviciu Nou</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Închide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/add-service}" th:object="${service}" method="post">
                    <div class="form-group">
                        <label for="serviceName">Nume Serviciu</label>
                        <input type="text" class="form-control" id="serviceName" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Trimite</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modalul pentru Utilități -->
<div class="modal fade" id="addUtilityModal" tabindex="-1" role="dialog" aria-labelledby="addUtilityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUtilityModalLabel">Adaugă Utilitate Nouă</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Închide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/add-utility}" th:object="${utility}" method="post">
                    <div class="form-group">
                        <label for="utilityName">Nume Utilitate</label>
                        <input type="text" class="form-control" id="utilityName" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Trimite</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modalul pentru Editare Servicii -->
<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog" aria-labelledby="editServiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Editează Serviciu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Închide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/edit-service}" method="post">
                    <div class="form-group">
                        <label for="oldServiceName">Numele Curent al Serviciului</label>
                        <input type="text" class="form-control" id="oldServiceName" name="oldName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newServiceName">Nume Nou al Serviciului</label>
                        <input type="text" class="form-control" id="newServiceName" name="newName" required>
                    </div>
                    <input type="hidden" id="editServiceId" name="id">
                    <button type="submit" class="btn btn-primary">Trimite</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modalul pentru Editare Utilități -->
<div class="modal fade" id="editUtilityModal" tabindex="-1" role="dialog" aria-labelledby="editUtilityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUtilityModalLabel">Editează Utilitate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Închide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/edit-utility}" method="post">
                    <div class="form-group">
                        <label for="oldUtilityName">Numele Curent al Utilității</label>
                        <input type="text" class="form-control" id="oldUtilityName" name="oldName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="newUtilityName">Nume Nou al Utilității</label>
                        <input type="text" class="form-control" id="newUtilityName" name="newName" required>
                    </div>
                    <input type="hidden" id="editUtilityId" name="id">
                    <button type="submit" class="btn btn-primary">Trimite</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setEditServiceModalData(button) {
        var id = button.getAttribute("data-id");
        var name = button.getAttribute("data-name");
        document.getElementById("oldServiceName").value = name;
        document.getElementById("newServiceName").value = name;
        document.getElementById("editServiceId").value = id;
        $('#editServiceModal').modal('show');
    }
    function setEditUtilityModalData(button) {
        var id = button.getAttribute("data-id");
        var name = button.getAttribute("data-name");
        document.getElementById("oldUtilityName").value = name;
        document.getElementById("newUtilityName").value = name;
        document.getElementById("editUtilityId").value = id;
        $('#editUtilityModal').modal('show');
    }
</script>

</body>
</html>
