<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Registration Form</title>


</head>

<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>


    <h2>Registration Form</h2>
    <form
            th:action="@{/registration}"
            method="post"
            role="form"
            th:object="${user}"
    >
        <div class="form-group">
            <label for="fullName">Fullname:</label>
            <input th:field="*{fullName}" type="text" id="fullName" name="fullname" placeholder="Enter your fullname" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <input type="submit" value="Register">
    </form>

</div>
</body>
</html>