<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Registration Form</title>
    <style>
        .container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
        .btn-custom {
    background-color: #22427c;
    border-color: #22427c;
    color: white;
}

.btn-custom:hover {
    background-color: #1a325f;
    border-color: #1a325f;
    color: white;
}
    </style>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Formular pentru inregistrare</h2>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
            <form th:action="@{/registration}" method="post" role="form" th:object="${user}" onsubmit="return validatePassword()">
                <div class="form-group">
                    <label for="fullName">Nume complet:</label>
                    <input th:field="*{fullName}" type="text" class="form-control" id="fullName" name="fullname" placeholder="Enter your fullname" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input th:field="*{email}" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Parola:</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                    <small id="passwordHelp" class="form-text text-muted">
                        Parola trebuie să conțină cel puțin 8 caractere, o literă mare, o literă mică și un număr.
                    </small>
                    <div id="passwordError" class="text-danger" style="display: none;">
                        Parola nu respectă criteriile necesare.
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-custom">Inregistreaza-te</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function validatePassword() {
        const password = document.getElementById("password").value;
        const passwordError = document.getElementById("passwordError");
        const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

        if (!regex.test(password)) {
            passwordError.style.display = "block";
            return false;
        } else {
            passwordError.style.display = "none";
            return true;
        }
    }
</script>
</body>
</html>
