<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provider Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>


<h1>Provider Registration Form</h1>
<form th:action="@{/registrationasprovider}" th:object="${provider}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" th:field="*{fullName}" required>
    </div>
    <div>
        <label for="serviceName">Service Name:</label>
        <input type="text" id="serviceName" th:field="*{serviceName}" required>
    </div>
    <div>
        <label for="utilities">Utilities Offered:</label>
        <input type="text" id="utilities" th:field="*{utilities}" required>
    </div>
    <div>
        <label for="cif">CIF Number:</label>
        <input type="text" id="cif" th:field="*{cif}" required>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
