<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
    <h1 class="header-title-custom text-center">Servicii</h1>
    <p class="lead text-center">Alegeți o categorie de servicii pentru a vedea toate opțiunile disponibile și pentru a compara și contracta serviciile dorite. Navigați prin lista de mai jos pentru a găsi serviciul potrivit nevoilor dvs.</p>
    <div class="row">
        <div class="col-md-6 mb-3" th:each="service : ${services}">
            <form action="/service-list" method="get">
                <input type="hidden" name="name" th:value="${service.name}">
                <button type="submit" th:text="${service.name}" class="btn btn-custom"></button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
