<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .btn-custom {
            font-size: 1.5em;
            padding: 20px;
            margin-bottom: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Services</h1>
    <div class="row">
        <div class="col-6" th:each="service : ${services}">
            <form action="/service-list" method="get">
        <input type="hidden" name="name" th:value="${service.name}">
        <button type="submit" th:text="${service.name}" class="btn btn-primary"></button>
        </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
