<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comparare Utilități</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .sort-arrow {
            margin-left: 5px;
            font-size: 12px;
            cursor: pointer;
        }
        .sort-arrow.up::after {
            content: '▲';
        }
        .sort-arrow.down::after {
            content: '▼';
        }
        .sort-arrow.active {
            color: red;
        }
        .btn-disabled {
            pointer-events: none;
            opacity: 0.6;
        }
        .container {
            margin-top: 50px;
        }
        h1 {
            margin-bottom: 20px;
        }
         h2 {
            color: #77b5fe;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .thead {
            background-color: #22427c;
            color: white;
        }

        .message {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            background-color: white;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            text-align: center;
        }
        .message .icon {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
    <h1 class="header-title-custom text-center">Comparație Utilități</h1>
    <h2 class="text-center">Comparați ofertele și aplicați la utilitățile dorite.</h2>

    <div class="message" th:if="${!isUserAuthenticated}">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.93-6.412a.903.903 0 0 1 1.852 0l-.35 3.512a.552.552 0 0 1-1.103 0l-.35-3.512z"/>
        </svg></span>
        <p>Pentru a putea aplica la ofertele dorite trebuie să fiți autentificați.</p>
    </div>

    <table class="table table-striped table-hover" id="utilityTable">
        <thead class="thead">
        <tr>
            <th id="id">Număr ofertă <span class="sort-arrow up" data-sort="id" data-direction="asc"></span><span class="sort-arrow down" data-sort="id" data-direction="desc"></span></th>
            <th id="name">Nume <span class="sort-arrow up" data-sort="name" data-direction="asc"></span><span class="sort-arrow down" data-sort="name" data-direction="desc"></span></th>
            <th id="price">Preț <span class="sort-arrow up" data-sort="price" data-direction="asc"></span><span class="sort-arrow down" data-sort="price" data-direction="desc"></span></th>
            <th id="unitOfMeasure">Unitate de măsură <span class="sort-arrow up" data-sort="unitOfMeasure" data-direction="asc"></span><span class="sort-arrow down" data-sort="unitOfMeasure" data-direction="desc"></span></th>
            <th id="utilityOfferName">Nume ofertă <span class="sort-arrow up" data-sort="utilityOfferName" data-direction="asc"></span><span class="sort-arrow down" data-sort="utilityOfferName" data-direction="desc"></span></th>
            <th id="geographicCoverage">Acoperire geografică <span class="sort-arrow up" data-sort="geographicCoverage" data-direction="asc"></span><span class="sort-arrow down" data-sort="geographicCoverage" data-direction="desc"></span></th>
            <th id="contractDuration">Durată contract <span class="sort-arrow up" data-sort="contractDuration" data-direction="asc"></span><span class="sort-arrow down" data-sort="contractDuration" data-direction="desc"></span></th>
            <th id="customerType">Tip client <span class="sort-arrow up" data-sort="customerType" data-direction="asc"></span><span class="sort-arrow down" data-sort="customerType" data-direction="desc"></span></th>
            <th id="paymentFrequency">Frecvența plății <span class="sort-arrow up" data-sort="paymentFrequency" data-direction="asc"></span><span class="sort-arrow down" data-sort="paymentFrequency" data-direction="desc"></span></th>
            <th id="description">Descriere <span class="sort-arrow up" data-sort="description" data-direction="asc"></span><span class="sort-arrow down" data-sort="description" data-direction="desc"></span></th>
            <th id="utilityProvider">Furnizor utilitate <span class="sort-arrow up" data-sort="utilityProvider" data-direction="asc"></span><span class="sort-arrow down" data-sort="utilityProvider" data-direction="desc"></span></th>
            <th>Acțiune</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="utilityDetails : ${selectedUtilityDetailsList}">
            <td th:text="${utilityDetails.id}"></td>
            <td th:text="${utilityDetails.name}"></td>
            <td th:text="${utilityDetails.price}"></td>
            <td th:text="${utilityDetails.unitOfMeasure}"></td>
            <td th:text="${utilityDetails.utilityOfferName}"></td>
            <td th:text="${utilityDetails.geographicCoverage}"></td>
            <td th:text="${utilityDetails.contractDuration}"></td>
            <td th:text="${utilityDetails.customerType}"></td>
            <td th:text="${utilityDetails.paymentFrequency}"></td>
            <td th:text="${utilityDetails.description}"></td>
            <td th:text="${utilityDetails.utilityProvider}"></td>
            <td>
                <form th:action="@{/apply-utility}" method="get">
                    <input type="hidden" name="utilityId" th:value="${utilityDetails.id}"/>
                    <button type="submit" class="btn" th:classappend="${isUserAuthenticated} ? 'btn-primary' : 'btn-secondary btn-disabled'" th:disabled="${!isUserAuthenticated}">Aplica</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    let sortDirection = {};

    $(document).ready(function(){
        $(".sort-arrow").click(function(){
            let column = $(this).data("sort");
            let direction = $(this).data("direction");
            sortTable(column, direction);
            updateArrows(column, direction);
        });
    });

    function sortTable(column, direction) {
        let table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("utilityTable");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[document.getElementById(column).cellIndex].textContent.toLowerCase();
                y = rows[i + 1].getElementsByTagName("td")[document.getElementById(column).cellIndex].textContent.toLowerCase();
                if (direction === "asc" ? (x > y) : (x < y)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }

        // Update sort direction
        sortDirection[column] = direction;
    }

    function updateArrows(column, direction) {
        $(".sort-arrow").removeClass("active");
        $(".sort-arrow[data-sort='" + column + "'][data-direction='" + direction + "']").addClass("active");
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
