<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aplicare pentru Utilitate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Formular pentru Aplicare la Utilitate</h2>
      <form th:action="@{/applyUtility}" method="post" role="form" th:object="${userUtilityOffer}">
        <input type="hidden" th:field="*{userId}" th:value="${userId}"/>
        <input type="hidden" th:field="*{utilityId}" th:value="${utilityId}"/>
        <div class="form-group">
          <label for="description">Descriere:</label>
          <textarea th:field="*{description}" class="form-control" id="description" name="description" rows="4" placeholder="Descrie necesitățile tale" required></textarea>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input th:field="*{email}" type="email" class="form-control" id="email" name="email" placeholder="Introduceți email-ul dvs." required>
        </div>
        <div class="form-group">
          <label for="phone">Telefon:</label>
          <input th:field="*{phone}" type="text" class="form-control" id="phone" name="phone" placeholder="Introduceți numărul de telefon" required>
        </div>
        <div class="form-group">
          <label for="address">Adresa:</label>
          <input th:field="*{address}" type="text" class="form-control" id="address" name="address" placeholder="Introduceți adresa" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Trimite aplicarea</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
